<app-page-layout>
  <ng-template #pageHeader>
    <div class="flex items-center justify-between mb-6">
      <div class="flex items-center gap-4">
        <button gsfButton appColor="tertiary" (click)="goToPreviousPage()">
          <gsf-icon-svg [icon]="ICON_LEFT_OUTLINE" />
        </button>
        <app-page-title heading="Edit Template" className="mb-0" />
      </div>

      <div class="flex items-center gap-[10px]">
        <button gsfButton appColor="secondary" (click)="goToPreviousPage()" class="w-[80px]">
          Cancel
        </button>
        <button type="button" gsfButton (click)="editTemplate()" class="w-[80px]" [disabled]="isSubmitting()">
          Save
        </button>
      </div>
    </div>
  </ng-template>

  <ng-container page-content>
    <app-template-editor-container class="flex-1 h-full" [skipFrameCreation]="true" (canvasReady)="loadTemplateData()" />
  </ng-container>
</app-page-layout>
