<app-page-layout>
  <ng-template #pageHeader>
    <div class="flex items-center justify-between mb-6">
      <div class="flex items-center gap-4">
        <button gsfButton appColor="tertiary" (click)="goToList()">
          <gsf-icon-svg [icon]="ICON_LEFT_OUTLINE" />
        </button>
        <app-page-title heading="View Template" className="mb-0" />
      </div>

      <div class="flex items-center gap-[10px]">
        <button gsfButton (click)="goToEdit()">
          <gsf-icon-svg [icon]="ICON_EDIT_2_OUTLINE" /> Edit
        </button>
      </div>
    </div>
  </ng-template>

  <ng-container page-content>
    <app-template-view-editor-container class="flex-1 h-full" [skipFrameCreation]="true" />
  </ng-container>
</app-page-layout>
